<table class="table table-striped bg-light rounded shadow-lg">
  <thead>
    <tr>
      <th><strong>Nombre</strong></th>
      <th><strong>Email</strong></th>
      <th><strong>Teléfono</strong></th>
      <th><strong>Fecha de Ingreso</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= usuario.nombre %></td>
      <td><%= usuario.email %></td>
      <td><%= usuario.telefono %></td>
      <td><%= usuario.fecha_ingreso.strftime('%d/%m/%Y') %></td>
    </tr>
  </tbody>
</table>

