.carousel-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: 400px; /* Establece una altura fija */
    object-fit: cover; /* Mantiene la relación de aspecto sin distorsionar la imagen */
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
  }
  